

body{
	/* fonte para os nomes 
	font-family: 'Poiret One', cursive;  */
	font-family: 'Josefin Sans', sans-serif;
	color: #6D6A6D;
	line-height: 1.5;
	text-align: center;
	background: repeat url("../img/fundo.png");

}

.allWidth{
	width: 100%;
}

#menuTop{
	position: fixed;
	top: 0;
	display: block;
	height: 57px;
	background-color: #FFF;
	z-index: 1000;
}

#menuTop2{
	display: none;
}

.shadowBottom{
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navMain{
	padding: 7px 30px;
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	direction:row;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	-ms-flex-direction:row;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;

}

.navMain a{
	padding: 10px 0;
	color: #6D6A6D;
	font-size: 16px;
	text-decoration: none;
	font-weight: 400;
}

a.navMainActive{
	color: #cb9931;
/*	background: no-repeat center 2px url("../img/bolinha.png");
*/	background: no-repeat center 32px url("../img/bolinhas-subtitulo.png");
	-webkit-transition: color 0.3s ease, background 0.1 ease;
	-moz-transition: color 0.3s ease, background 0.1 ease;
	-ms-transition: color 0.3s ease, background 0.1 ease;
	-o-transition: color 0.3s ease, background 0.1 ease;
	transition: color 0.3s ease, background 0.1 ease;
}

.navMain a:hover{
	color: rgba(228, 178, 73, 0.5);
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
}


.contentMain{
	width: 90%;
	margin: 100px auto;
	font-size: 18px;
	line-height: 1.5;
	background-color: #FFF;
}

img.gg {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 62px;
	padding: 50px 0;
}

img.bolinhasH{
	padding: 70px 0 0 0;
}

.sectionContent{
	padding-bottom: 200px;
}

.sectionContentLast{
	margin-bottom: 0;
}

.textContent{
	clear: both;
	width: 60%;
	max-width: 700px;
	margin: 0 auto;
}

img.imgContent{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	width: 50%;
	margin: 0 auto 50px auto;
	min-width: 250px;
	max-width: 400px;
}

.textContent a, .textContent a:visited, .textContent a:active{
	color: #077cee;
}

.textContent a:hover{
	color: #1044DA;
}

.atracao a, .atracao a:visited, .atracao a:active{
	color: #077cee;
}

.atracao a:hover{
	color: #1044DA;
}

.textContent b, b{
	font-weight: 700;
}

p{
	margin-bottom: 30px;

}

h1{
	font-family: 'Poiret One', cursive;
/*	background: no-repeat center 50px url("../img/bolinhas-anaclararafael.png");
*/	font-size: 50px;
	padding: 120px 0 60px 0;
	color: #cb9931;
	width: 100%;
}

h2{
	font-family: 'Poiret One', cursive;
	background: no-repeat center 113px url("../img/bolinhas-subtitulo.png");
	font-size: 30px;
	padding: 150px 0 75px 0;
	color: #cb9931;
}



span{
	color: #cb9931;
}

.oquefazeremsantos{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	-webkit-display: flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-between;

	-moz-display: flex;
	-moz-flex-direction: row;
	-moz-flex-wrap: wrap;
	-moz-justify-content: space-between;

	-os-display: flex;
	-os-flex-direction: row;
	-os-flex-wrap: wrap;
	-os-justify-content: space-between;


}

iframe#mapa-oquefazeremsantos {
	width: 90%;
	margin: 0 auto 40px auto;
}

.atracao{
	font-size: 16px;
	width: 30%;
	min-width: 200px;
	max-width: 300px;
	text-align: left;
	
}

.atracao img{
	width: 100%;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 10px;
}

.layerButtons{
	display: flex;
	direction:row;
	justify-content: center;

	-webkit-display: flex;
	-webkit-flex-direction:row;
	-webkit-justify-content: center;

	-moz-display: flex;
	-moz-flex-direction:row;
	-moz-justify-content: center;

	-ms-display: flex;
	-ms-flex-direction:row;
	-ms-justify-content: center;

}


a.button{
	margin: 20px 10px;
	color: #FFF;
	background-color: #6D6A6D;
	font-weight: 400;
	padding: 3px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a.button:hover{
	background-color: #cb9931;
}


#form-presentes{
	height: 420px;
	width: 60%;
	min-width: 200px;
	max-width: 300px;
	margin: 20px auto 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	-webkit-display: flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-around;
	-webkit-align-items: center;

	-moz-display: flex;
	-moz-flex-direction: column;
	-moz-justify-content: space-around;
	-moz-align-items: center;

	-ms-display: flex;
	-ms-flex-direction: column;
	-ms-justify-content: space-around;
	-ms-align-items: center;
}

input, textarea{
	font-family: 'Josefin Sans', sans-serif;
	color: #6D6A6D;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	padding: 3px;
	width: 90%;
}


input.button{
	color: #FFF;
	background-color: #6D6A6D;
	font-weight: 400;
	font-size: 18px;
	padding: 3px 10px;
	width: 160px;
	text-align: center;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input.button:hover{
	background-color: #cb9931;
}



.layer{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(86,83,86,0.3);
	z-index: 1010;
}

.layerContent{
	height: 90%;
	width: 60%;
	max-width: 500px;
	min-width: 200px;
	margin: 30px auto;
	padding: 3%;
	background-color: #fff;
	overflow: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 0px 20px rgba(86,83,86,0.8);
	-webkit-box-shadow: 0px 0px 20px rgba(86,83,86,0.8);
	box-shadow: 0px 0px 20px rgba(86,83,86,0.8);
}

a.voltar_buton{
	display: block;
	position: fixed;
	width: 30px;
	height: 30px;
	top: 15px;
	right: 14%;
	color: #FFF;
	background-color: #cb9931;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	padding: 6px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.layerContent img{
	clear: both;
	width: 90%;
	max-width: 400px;
	margin: 0 0 20px 0;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.layerCaption{
	margin: 10px 0 30px 0;

}

.layerCaption b{
	font-weight: 700;
}

.hide {
	display: none;
}

.galeriaPresentes {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

}

.presente{
	cursor: pointer;
	font-size: 16px;
	width: 30%;
	min-width: 200px;
	max-width: 300px;
	text-align: left;	
}

.presente span {
	color: #6D6A6D;
}

.presente:hover span {
	color: #cb9931;
/*	font-weight: bold;
*/}

.presente img{
	width: 100%;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.presente:hover img{
	width: 100%;
	margin-bottom: 10px;
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
	-ms-box-shadow: 5px 5px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
	-moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
}


.noMargin, a.noMargin, img.noMargin{
	margin-right: 0;
}

/* max device width */
@media (max-width: 650px) {
	#menuTop{
		height: 47px;
	}
	.navMain{
		padding: 5px 30px;
	}

	.navMain a{
		padding: 10px 0;
		font-size: 12px;
	}
	a.navMainActive{
		background: no-repeat center 28px url("../img/bolinhas-subtitulo.png");
	}

}

/* max device width */
@media (max-width: 510px) {
	#menuTop{
		display:none;
	}


	#menuTop2{
		position: fixed;
		top: 0;
		display: block;
		height: 47px;
		background-color: #FFF;
		z-index: 1000;
	}

	.navMain{
		padding: 3px 30px;
	}

	.navMain a{
		padding: 10px 0;
		color: #6D6A6D;
		width: 40px;
	}

	.atracao{
		text-align: center;
	}

	a.navMainActive{
		background: no-repeat center 26px url("../img/bolinhas-subtitulo.png");
	}


	.oquefazeremsantos{
		justify-content: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-os-justify-content: center;
	}

	.galeriaPresentes {
		justify-content: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-os-justify-content: center;
	}

	.presente{
		text-align: center;
	}

}



